<!-- -->
<ion-content padding class="animated fadeIn login auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h2 ion-text class="text-primary">
        <strong>Shake Eat Up</strong>
      </h2>
    </div>

    <!-- Login form -->
    <form novalidate (ngSubmit)="login(loginForm)" [formGroup]="loginForm" class="list-form">
      <ion-item>
        <ion-label floating>
          <ion-icon name="email" item-start class="text-primary"></ion-icon>
          Adresse mail
        </ion-label>
        <ion-input type="email" [(ngModel)]="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="pwd" item-start class="text-primary"></ion-icon>
          Mot de passe
        </ion-label>
        <ion-input type="password" [(ngModel)]="password" formControlName="password"></ion-input>
      </ion-item>
      <p text-right ion-text color="secondary" tappable (click)="forgotPass()">
        Mot de passe oublié?
      </p>

      <div>
        <button type="submit" ion-button block color="primary">
          <ion-icon name="log-in">&nbsp;</ion-icon>
          LOGIN
        </button>
      </div>
    </form>




    <!-- Other links -->
    <div text-center margin-top>
      <span ion-text color="secondary" tappable (click)="registerCoach()">
        <strong>Inscription</strong> de Coach
      </span>
    </div>
    <div text-center margin-top>
      <span ion-text color="secondary" tappable (click)="register()">
        <strong>Inscription</strong>
      </span>
    </div>

  </div>
</ion-content>
