<!--
  Generated template for the CreateSceancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span ion-text>Modifier repas</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>

    <form novalidate (ngSubmit)="modifRepas(editform)" [formGroup]="editform">

      <ion-item>
        <ion-label floating>
          <ion-icon name="nom" item-start class="text-primary"></ion-icon>
          Nom
        </ion-label>
        <ion-input type="text" [(ngModel)]="Nom" formControlName="nom"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="proteine" item-start class="text-primary"></ion-icon>
          Protéine
        </ion-label>
        <ion-input type="text" [(ngModel)]="Proteine" formControlName="proteine"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="glucide" item-start class="text-primary"></ion-icon>
          Glucide
        </ion-label>
        <ion-input type="text" [(ngModel)]="Glucide" formControlName="glucide"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lipide" item-start class="text-primary"></ion-icon>
          Lipide
        </ion-label>
        <ion-input type="text" [(ngModel)]="Lipide" formControlName="lipide"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="ingredients" item-start class="text-primary"></ion-icon>
          Ingredients
        </ion-label>
        <ion-textarea type="text" [(ngModel)]="Ingr" formControlName="ingredients"></ion-textarea>
      </ion-item>

      <ion-item>
          <ion-label floating>
            <ion-icon name="prepa" item-start class="text-primary"></ion-icon>
            Préparation
          </ion-label>
          <ion-textarea type="text" [(ngModel)]="Prep" formControlName="prepa"></ion-textarea>
        </ion-item>

      <button type="submit" ion-button block color="primary" [disabled]="editform.invalid">Valider</button>

    </form>

  </ion-list>

</ion-content>
