<ion-header>
  <div padding text-center>
    <div class="logo"></div>
    <h2 ion-text class="text-primary">
      <ion-icon name="arrow-back" (click)="login()"></ion-icon>&nbsp;<strong>Shake Eat Up</strong>
    </h2>
    <h4>Inscription</h4>
  </div>
</ion-header>
<!-- -->
<ion-content padding>
  <ion-list>
    <!-- Login form -->

    <form novalidate (ngSubmit)="register(registerForm)" [formGroup]="registerForm" class="list-form">

      <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          Adresse mail
        </ion-label>
        <ion-input type="text" formControlName="email" [(ngModel)]="email" [class.error1]="!registerForm.controls.email.valid && registerForm.controls.email.dirty"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="( registerForm.get('email').hasError('minlength') || registerForm.get('email').hasError('pattern') ||registerForm.get('email').hasError('required') ) && registerForm.get('email').touched">
        <div class="error" *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched">
          Entrez votre adresse mail
        </div>
        <div class="error" *ngIf="registerForm.get('email').hasError('pattern') && registerForm.get('email').touched">
          Adresse mail invalide
        </div>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="person" item-start class="text-primary"></ion-icon>
          Nom
        </ion-label>
        <ion-input type="text" [(ngModel)]="nom" formControlName="nom" [class.error1]="!registerForm.controls.nom.valid && registerForm.controls.nom.dirty"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="( registerForm.get('nom').hasError('minlength') || registerForm.get('nom').hasError('maxlength') ||registerForm.get('nom').hasError('pattern') ||registerForm.get('nom').hasError('required') ) && registerForm.get('nom').touched">
        <div class="error" *ngIf="registerForm.get('nom').hasError('required') && registerForm.get('nom').touched">
          Entrez votre nom
        </div>
        <div class="error" *ngIf="registerForm.get('nom').hasError('minlength') && registerForm.get('nom').touched">
          Minimum 4 characteres
        </div>
        <div class="error" *ngIf="registerForm.get('nom').hasError('maxlength') && registerForm.get('nom').touched">
          Maximum 30 characteres
        </div>
        <div class="error" *ngIf="registerForm.get('nom').hasError('pattern') && registerForm.get('nom').touched">
          Entrez des lettres seulement
        </div>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="person" item-start class="text-primary"></ion-icon>
          Prenom
        </ion-label>
        <ion-input type="text" [(ngModel)]="prenom" formControlName="prenom" [class.error1]="!registerForm.controls.prenom.valid && registerForm.controls.prenom.dirty"></ion-input>
      </ion-item>

      <ion-item no-lines *ngIf="( registerForm.get('prenom').hasError('minlength') || registerForm.get('prenom').hasError('maxlength') ||registerForm.get('prenom').hasError('pattern') ||registerForm.get('prenom').hasError('required') ) && registerForm.get('prenom').touched">
        <div class="error" *ngIf="registerForm.get('prenom').hasError('required') && registerForm.get('prenom').touched">
          Entrez votre prenom
        </div>
        <div class="error" *ngIf="registerForm.get('prenom').hasError('minlength') && registerForm.get('prenom').touched">
          Minimum 4 characteres
        </div>
        <div class="error" *ngIf="registerForm.get('prenom').hasError('maxlength') && registerForm.get('prenom').touched">
          Maximum 10 characteres
        </div>
        <div class="error" *ngIf="registerForm.get('prenom').hasError('pattern') && registerForm.get('prenom').touched">
          Entrez des lettres seulement
        </div>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          Mot de passe
        </ion-label>
        <ion-input type="password" [(ngModel)]="password" formControlName="password" [class.error1]="!registerForm.controls.password.valid && registerForm.controls.password.dirty"></ion-input>
      </ion-item>

      <ion-item no-lines *ngIf="( registerForm.get('password').hasError('minlength') || registerForm.get('password').hasError('maxlength') || registerForm.get('password').hasError('required') ) && registerForm.get('password').touched">
        <div class="error" *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">
          Entrez votre mot de passe
        </div>
        <div class="error" *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched">
          Minimum 6 characteres
        </div>
        <div class="error" *ngIf="registerForm.get('password').hasError('maxlength') && registerForm.get('password').touched">
          Maximum 12 characteres
        </div>
      </ion-item>


      <ion-item>
        <ion-label floating>
          <ion-icon name="pulse" item-start class="text-primary"></ion-icon>
          Naissance
        </ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="naissance" formControlName="naissance" [class.error1]="!registerForm.controls.naissance.valid && registerForm.controls.naissance.dirty"></ion-datetime>
      </ion-item>


      <ion-item>
        <ion-label floating>
          <ion-icon name="pulse" item-start class="text-primary"></ion-icon>
          Taille en cm
        </ion-label>
        <ion-input type="number" [(ngModel)]="taille" formControlName="taille" [class.error1]="!registerForm.controls.taille.valid && registerForm.controls.taille.dirty"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="( registerForm.get('taille').hasError('maxlength') || registerForm.get('taille').hasError('min') || registerForm.get('taille').hasError('required') ) && registerForm.get('taille').touched">
        <div class="error" *ngIf="registerForm.get('taille').hasError('required') && registerForm.get('taille').touched">
          Entrez votre taille
        </div>
        <div class="error" *ngIf="registerForm.get('taille').hasError('min') && registerForm.get('taille').touched">
          Vous devez mesurer plus de 20cm
        </div>
        <div class="error" *ngIf="registerForm.get('taille').hasError('maxlength') && registerForm.get('taille').touched">
          Vous ne pouvez pas faire plus de 999cm
        </div>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="pulse" item-start class="text-primary"></ion-icon>
          Poids en kg
        </ion-label>
        <ion-input type="number" [(ngModel)]="poids" formControlName="poids" [class.error1]="!registerForm.controls.poids.valid && registerForm.controls.poids.dirty"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="( registerForm.get('poids').hasError('maxlength') || registerForm.get('poids').hasError('min') || registerForm.get('poids').hasError('required') ) && registerForm.get('poids').touched">
        <div class="error" *ngIf="registerForm.get('poids').hasError('required') && registerForm.get('poids').touched">
          Entrez votre poids
        </div>
        <div class="error" *ngIf="registerForm.get('poids').hasError('min') && registerForm.get('poids').touched">
          Vous devez peser plus de 20kg
        </div>
        <div class="error" *ngIf="registerForm.get('poids').hasError('maxlength') && registerForm.get('poids').touched">
          Vous ne pouvez pas faire plus de 999kg
        </div>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="clipboard" item-start class="text-primary"></ion-icon>
          Objectifs
        </ion-label>
        <ion-select name="type_objectif" interface="popover" [(ngModel)]="type_objectif" formControlName="type_objectif" [class.error1]="!registerForm.controls.type_objectif.valid && registerForm.controls.type_objectif.dirty">
          <ion-option [value]="1">Prise de Masse</ion-option>
          <ion-option [value]="2">Perte de poids</ion-option>
          <ion-option [value]="3">Maintiens</ion-option>
        </ion-select>
      </ion-item>

      <div margin-top>
        <button type="submit" ion-button block color="primary" [disabled]="registerForm.invalid" (click)="login()">
          Inscription
        </button>
      </div>
    </form>

    <!-- Other links -->
    <div text-center margin-top>
      <span ion-text color="primary" tappable (click)="login()">J'ai déjà un compte</span>
    </div>
  </ion-list>
</ion-content>
