<!-- -->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>
      <span ion-text>{{ nom }}</span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="common-bg">
  <!--slides-->
  <!--<ion-slides class="to-top" pager>
    <ion-slide *ngFor="let image of trip.images">
      <img [src]="image" alt="">
    </ion-slide>
  </ion-slides> -->

  <!--services-->
  <ion-grid class="border-bottom dark-bg">
    <ion-row>
      <ion-col text-center>
        <div class="text-sm">
          <div>
            <ion-icon name="time" class="text-white"></ion-icon>
            <strong>Durée : </strong>
            <span ion-text color="light">{{ duree }} jours</span>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--high light-->
  <!-- <div class="border-bottom" padding>
    <span ion-text color="dark" class="bold">AVANTAGES DU PROGRAMME</span>
    <ul class="highlight">
      <li *ngFor="let highlight of trip.highlights">
        <ion-icon name="checkmark" class="text-green"></ion-icon>
        <span ion-text color="primary">{{ highlight }}</span>
      </li>
    </ul>
  </div>-->

  <!--description-->
  <div class="border-bottom" padding>
    <span ion-text color="primary" class="bold">DESCRIPTION</span>
    <p ion-text>{{ description}}</p>
  </div>

  <!--address-->
  <div class="border-bottom" padding>
    <span ion-text color="primary" class="bold">OBJECTIF</span>
    <p ion-text *ngIf="type == 1">Perte de poids</p>
    <p ion-text *ngIf="type == 2">Maintien de poids</p>
    <p ion-text *ngIf="type == 3">Prise de masse</p>
  </div>

  <!--booking form-->
  <div padding class="form-bottom">
    <button *ngIf="userRole == 1" ion-button color="secondary" tappable (click)="addToMesSeances()">Commencer le programme</button>
    <button *ngIf="userRole == 10" ion-button color="secondary" tappable (click)="updateProgramme()">Modifier le programme</button>
    <div class="clear"></div>
  </div>
</ion-content>
