<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <strong>Profil</strong>
    </ion-title>
    <ion-buttons end>
      <button ion-button tappable (click)="presentNotifications($event)">
        <ion-icon name="notifications"></ion-icon>
      </button>
      <button ion-button tappable (click)="goToAccount()">
        <ion-icon name="cog"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <form *ngIf="isShow==false" novalidate (ngSubmit)="update(signupform)" [formGroup]="signupform">

      <ion-item>
        <ion-label floating>
          <ion-icon name="person" item-start class="text-primary"></ion-icon>
          Nom
        </ion-label>
        <ion-input type="text" [(ngModel)]="userData.nom" formControlName="nom" [class.error1]="!signupform.controls.nom.valid && signupform.controls.nom.dirty"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="( signupform.get('nom').hasError('minlength') || signupform.get('nom').hasError('maxlength') ||signupform.get('nom').hasError('pattern') ||signupform.get('nom').hasError('required') ) && signupform.get('nom').touched">
        <div class="error" *ngIf="signupform.get('nom').hasError('required') && signupform.get('nom').touched">
          Entrez votre nom
        </div>
        <div class="error" *ngIf="signupform.get('nom').hasError('minlength') && signupform.get('nom').touched">
          Minimum 4 characteres
        </div>
        <div class="error" *ngIf="signupform.get('nom').hasError('maxlength') && signupform.get('nom').touched">
          Maximum 30 characteres
        </div>
        <div class="error" *ngIf="signupform.get('nom').hasError('pattern') && signupform.get('nom').touched">
          Entrez des lettres seulement
        </div>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="person" item-start class="text-primary"></ion-icon>
          Prenom
        </ion-label>
        <ion-input type="text" [(ngModel)]="userData.prenom" formControlName="prenom" [class.error1]="!signupform.controls.prenom.valid && signupform.controls.prenom.dirty"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="( signupform.get('prenom').hasError('minlength') || signupform.get('prenom').hasError('maxlength') ||signupform.get('prenom').hasError('pattern') ||signupform.get('prenom').hasError('required') ) && signupform.get('prenom').touched">
        <div class="error" *ngIf="signupform.get('prenom').hasError('required') && signupform.get('prenom').touched">
          Entrez votre prenom
        </div>
        <div class="error" *ngIf="signupform.get('prenom').hasError('minlength') && signupform.get('prenom').touched">
          Minimum 4 characteres
        </div>
        <div class="error" *ngIf="signupform.get('prenom').hasError('maxlength') && signupform.get('prenom').touched">
          Maximum 10 characteres
        </div>
        <div class="error" *ngIf="signupform.get('prenom').hasError('pattern') && signupform.get('prenom').touched">
          Entrez des lettres seulement
        </div>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          Adresse mail
        </ion-label>
        <ion-input type="text" [(ngModel)]="userData.email" formControlName="email" [class.error1]="!signupform.controls.email.valid && signupform.controls.email.dirty"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="( signupform.get('email').hasError('minlength') || signupform.get('email').hasError('pattern') ||signupform.get('email').hasError('required') ) && signupform.get('email').touched">
        <div class="error" *ngIf="signupform.get('email').hasError('required') && signupform.get('email').touched">
          Entrez votre adresse mail
        </div>
        <div class="error" *ngIf="signupform.get('email').hasError('pattern') && signupform.get('email').touched">
          Adresse mail invalide
        </div>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          Mot de passe
        </ion-label>
        <ion-input type="password" [(ngModel)]="userData.password" formControlName="password" [class.error1]="!signupform.controls.password.valid && signupform.controls.password.dirty"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="( signupform.get('password').hasError('minlength') || signupform.get('password').hasError('maxlength') || signupform.get('password').hasError('required') ) && signupform.get('password').touched">
        <div class="error" *ngIf="signupform.get('password').hasError('required') && signupform.get('password').touched">
          Entrez votre mot de passe
        </div>
        <div class="error" *ngIf="signupform.get('password').hasError('minlength') && signupform.get('password').touched">
          Minimum 6 characteres
        </div>
        <div class="error" *ngIf="signupform.get('password').hasError('maxlength') && signupform.get('password').touched">
          Maximum 12 characteres
        </div>
      </ion-item>


      <ion-item>
        <ion-label floating>
          <ion-icon name="pulse" item-start class="text-primary"></ion-icon>
          Naissance
        </ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="userData.naissance" formControlName="naissance" [class.error1]="!signupform.controls.naissance.valid && signupform.controls.naissance.dirty"></ion-datetime>
      </ion-item>


      <ion-item>
        <ion-label floating>
          <ion-icon name="pulse" item-start class="text-primary"></ion-icon>
          Taille en cm
        </ion-label>
        <ion-input type="number" [(ngModel)]="userData.taille" formControlName="taille" [class.error1]="!signupform.controls.taille.valid && signupform.controls.taille.dirty"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="( signupform.get('taille').hasError('maxlength') || signupform.get('taille').hasError('min') || signupform.get('taille').hasError('required') ) && signupform.get('taille').touched">
        <div class="error" *ngIf="signupform.get('taille').hasError('required') && signupform.get('taille').touched">
          Entrez votre taille
        </div>
        <div class="error" *ngIf="signupform.get('taille').hasError('min') && signupform.get('taille').touched">
          Vous devez mesurer plus de 20cm
        </div>
        <div class="error" *ngIf="signupform.get('taille').hasError('maxlength') && signupform.get('taille').touched">
          Vous ne pouvez pas faire plus de 999cm
        </div>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="pulse" item-start class="text-primary"></ion-icon>
          Poids en kg
        </ion-label>
        <ion-input type="number" [(ngModel)]="userData.poids" formControlName="poids" [class.error1]="!signupform.controls.poids.valid && signupform.controls.poids.dirty"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="( signupform.get('poids').hasError('maxlength') || signupform.get('poids').hasError('min') || signupform.get('poids').hasError('required') ) && signupform.get('poids').touched">
        <div class="error" *ngIf="signupform.get('poids').hasError('required') && signupform.get('poids').touched">
          Entrez votre poids
        </div>
        <div class="error" *ngIf="signupform.get('poids').hasError('min') && signupform.get('poids').touched">
          Vous devez peser plus de 20kg
        </div>
        <div class="error" *ngIf="signupform.get('poids').hasError('maxlength') && signupform.get('poids').touched">
          Vous ne pouvez pas faire plus de 999kg
        </div>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="clipboard" item-start class="text-primary"></ion-icon>
          Objectifs
        </ion-label>
        <ion-select name="type_objectif" interface="popover" [(ngModel)]="userData.type_objectif" formControlName="type_objectif" [class.error1]="!signupform.controls.type_objectif.valid && signupform.controls.type_objectif.dirty">
          <ion-option [value]="1">Prise de Masse</ion-option>
          <ion-option [value]="2">Perte de poids</ion-option>
          <ion-option [value]="3">Maintiens</ion-option>
        </ion-select>
      </ion-item>

      <button type="submit" ion-button block color="primary" (click)="update(data)">
        Valider
      </button>
    </form>

  </ion-list>
</ion-content>
