<!--
  Generated template for the CreateSceancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span ion-text>Create Sceance Diet</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <form novalidate (ngSubmit)="createSeance(signupform)" [formGroup]="signupform">

      <ion-item>
        <ion-label floating>Titre :</ion-label>
        <ion-input type="text" formControlName="nom" [class.error1]="!signupform.controls.nom.valid && signupform.controls.nom.dirty"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="( signupform.get('nom').hasError('minlength') || signupform.get('nom').hasError('maxlength') ||signupform.get('nom').hasError('pattern') ||signupform.get('nom').hasError('required') ) && signupform.get('nom').touched">
        <div class="error" *ngIf="signupform.get('nom').hasError('required') && signupform.get('nom').touched">
          Please input your lastname
        </div>
        <div class="error" *ngIf="signupform.get('nom').hasError('minlength') && signupform.get('nom').touched">
          Minimum 4 characters
        </div>
        <div class="error" *ngIf="signupform.get('nom').hasError('maxlength') && signupform.get('nom').touched">
          Maximum 30 characters
        </div>
        <div class="error" *ngIf="signupform.get('nom').hasError('pattern') && signupform.get('nom').touched">
          Just use alphabet character
        </div>
      </ion-item>

      <ion-item>
        <ion-label>Repas du matin</ion-label>
        <ion-select [(ngModel)]="repasMa" formControlName="repasMa">
          <ion-option value="{{i}}" *ngFor="let rep of repas;let i = index ">{{rep.nom}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Repas du midi</ion-label>
        <ion-select [(ngModel)]="repasMi" formControlName="repasMi">
          <ion-option value="{{i}}" *ngFor="let rep of repas;let i = index ">{{rep.nom}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Repas du soir</ion-label>
        <ion-select [(ngModel)]="repasDi" formControlName="repasDi">
          <ion-option value="{{i}}" *ngFor="let rep of repas;let i = index ">{{rep.nom}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="exp" item-start class="text-primary"></ion-icon>
          Expérience
        </ion-label>
        <ion-input type="text" formControlName="exp"></ion-input>
      </ion-item>


      <button type="submit" ion-button block color="primary" [disabled]="signupform.invalid">Valider</button>
    </form>
  </ion-list>

</ion-content>
