<!--
  Generated template for the CreateRepasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span ion-text>Mes Séances Diet</span>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="trips detail-bg">
  <div>
    <span ion-button class="primary" *ngIf="role == 10" (click)="createSeance()" style="float:right;">Créer une séance diet</span>
  </div>
  <br>
  <!--list of trips-->
  <div class="trip card" *ngFor="let sea of seances" tappable (click)="updateSeance(sea.id)" style="margin-top:10%;"
       margin-bottom>
    <!-- [ngStyle]="{'background-image': 'url(' + programme.image + ')'}" -->
    <div class="background border-bottom" [ngStyle]="{'background-image': 'url('+'../assets/img/seancediet.jpg'+')'}">
      <div class="background-filter rlt">
        <div class="align-bottom" padding-left padding-right>
          <h6 class="text-white" ion-text>{{sea.nom}}</h6>
        </div>
      </div>
    </div>
    <div class="padding-sm primary-bg" *ngIf="sea.etat == 2 && role == 1 ">
        <span class="pull-right" ion-text color="light">
            <ion-icon name="checkbox-outline" md="md-checkbox-outline"></ion-icon>
            <span ion-text class="text-green bold">Séance terminée</span>
        </span>
    </div>
  </div>
</ion-content>
