<!--
  Generated template for the ProgrammeTrainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span ion-text>Mes Programmes Training</span>
    </ion-title>
  </ion-navbar>


</ion-header>

<ion-content padding class="trips detail-bg">
  <div *ngIf="role == 10">
    <span ion-button class="primary"(click)="createProgramme()" style="float:right;">Créer un programme training</span>
  </div>
  <br>
  <!--list of trips-->
  <div class="trip card" *ngFor="let programme of programmes" tappable (click)="viewDetail(programme.id)" style="margin-top:10%;"
    margin-bottom>
    <!-- [ngStyle]="{'background-image': 'url(' + programme.image + ')'}" -->
    <div class="background border-bottom" [ngStyle]="{'background-image': 'url(' + programme.image + ')'}">
      <div class="background-filter rlt">
        <div class="align-bottom" padding-left padding-right>
          <h6 class="pull-left text-white" ion-text>{{ programme.nom }}</h6>
          <h6 class="pull-right text-white" ion-text>{{ programme.price | currency:'EUR':true }}</h6>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="padding-sm primary-bg">
      <ion-icon name="time" class="text-white"></ion-icon>
      <span ion-text class="text-white">{{ programme.duree }} jours</span>
      <span class="pull-right" ion-text color="light">
        <span ion-text class="text-green bold" *ngIf="programme.type == 1">Perte de poids</span>
      </span>
      <span class="pull-right" ion-text color="light">
        <span ion-text class="text-green bold" *ngIf="programme.type == 2">Maintien de poids</span>
      </span>
      <span class="pull-right" ion-text color="light">
        <span ion-text class="text-green bold" *ngIf="programme.type == 3">Prise de masse</span>
      </span>
    </div>
  </div>
</ion-content>
