<!--
  Generated template for the ModifExercicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span ion-text>Modifier Exercice</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <form novalidate (ngSubmit)="updateExo(signupform)" [formGroup]="signupform">

      <ion-item>
        <ion-label floating>Nom </ion-label>
        <ion-input type="text" formControlName="title" [class.error1]="!signupform.controls.title.valid && signupform.controls.title.dirty"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="( signupform.get('title').hasError('minlength') || signupform.get('title').hasError('maxlength') ||signupform.get('title').hasError('pattern') ||signupform.get('title').hasError('required') ) && signupform.get('title').touched">
        <div class="error" *ngIf="signupform.get('title').hasError('required') && signupform.get('title').touched">
          Please input your lastname
        </div>
        <div class="error" *ngIf="signupform.get('title').hasError('minlength') && signupform.get('title').touched">
          Minimum 4 characters
        </div>
        <div class="error" *ngIf="signupform.get('title').hasError('maxlength') && signupform.get('title').touched">
          Maximum 30 characters
        </div>
        <div class="error" *ngIf="signupform.get('title').hasError('pattern') && signupform.get('title').touched">
          Just use alphabet character
        </div>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="img" item-start class="text-primary"></ion-icon>
          Image
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="desc" item-start class="text-primary"></ion-icon>
          Description
        </ion-label>
        <ion-input type="text" [(ngModel)]="desc" formControlName="desc"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="grpMuscle" item-start class="text-primary"></ion-icon>
          Groupe Musculaire
        </ion-label>
        <ion-select value="grpMuscle" okText="Okay" cancelText="Dismiss" [(ngModel)]="grpMuscle" formControlName="grpMuscle">
          <ion-option value="1">Pectoraux</ion-option>
          <ion-option value="2">Dos</ion-option>
          <ion-option value="3">Quadriceps</ion-option>
          <ion-option value="4">Ischios-jambiers</ion-option>
          <ion-option value="5">Mollets</ion-option>
          <ion-option value="6">Biceps</ion-option>
          <ion-option value="7">Triceps</ion-option>
          <ion-option value="8">Epaules</ion-option>
          <ion-option value="9">Trapèzes</ion-option>
          <ion-option value="10">Avant-bras</ion-option>
          <ion-option value="11">Abdominaux</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="exp" item-start class="text-primary"></ion-icon>
          Expérience
        </ion-label>
        <ion-input type="text" [(ngModel)]="exp" formControlName="exp"></ion-input>
      </ion-item>

      <button type="submit" ion-button block color="primary" [disabled]="signupform.invalid">Valider</button>
    </form>
  </ion-list>

</ion-content>
