page-trips,
.trips {
  .logo {
    width: 100px;
    height: 100px;
    margin: auto auto -10px auto;
    border-radius: 10%;
    background: url("../assets/img/ionic3-ico.png") no-repeat;
    background-size: 100%;
  }
	.card {
		border-radius: 1rem
	}
  .trip {
    overflow: hidden;

    .background {
      background-size: 100% auto;
      background-position: center;

      .background-filter {
        height: 16rem;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.65));

        .align-bottom {
          width: 100%;

          h6 {
            margin-top: 0;
          }
        }
      }
    }
  }
}
