<!-- -->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span ion-text>Accueil</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="trips detail-bg">
  <!-- Segment with default selection
<ion-segment (ionChange)="segmentChanged($event)" value="javascript">
    <ion-segment-button value="python">
      <ion-label>Python</ion-label>
    </ion-segment-button>
    <ion-segment-button value="javascript">
      <ion-label>Javascript</ion-label>
    </ion-segment-button>
  </ion-segment>-->
  <div padding-horizontal text-center class="animated fadeInDown">
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h2 ion-text class="text-primary">
        <strong>Shake Eat Up</strong>
      </h2>
    </div>
    <h4 ion-text class="text-secondary">
      <strong>Entrainement et nutrition n'ont jamais été aussi proche</strong>
    </h4>
  </div>
  <br>
<!-- Segmentation des programmes -->
  <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="training">
        Entrainement
      </ion-segment-button>
      <ion-segment-button value="diet">
        Nutrition
      </ion-segment-button>
  </ion-segment>
  <br>
    <div [ngSwitch]="pet">
        <ion-list *ngSwitchCase="'training'">
            <div class="trip card" *ngFor="let programme of programmesTrain" tappable (click)="viewDetail(programme.id)" margin-bottom>
                <ion-item>

                  <div class="background border-bottom">
                    <div class="background-filter rlt">
                      <div class="align-bottom" padding-left padding-right>
                        <h6 class="pull-left text-white" ion-text>{{ programme.nom }}</h6>
                        <h6 class="pull-right text-white" ion-text>{{ programme.price | currency:'EUR':true }}</h6>
                        <div class="clear"></div>
                      </div>
                    </div>
                  </div>
                  <div class="padding-sm primary-bg">
                    <ion-icon name="time" class="text-white"></ion-icon>
                    <span ion-text class="text-white">{{ programme.duree }} jours</span>
                    <span class="pull-right" ion-text color="light"><span ion-text  class="text-green bold" *ngIf="programme.type == 1">Perte de poids</span></span>
                    <span class="pull-right" ion-text color="light"><span ion-text  class="text-green bold" *ngIf="programme.type == 2">Maintien de poids</span></span>
                    <span class="pull-right" ion-text color="light"><span ion-text  class="text-green bold" *ngIf="programme.type == 3">Prise de masse</span></span>
                  </div>
                </ion-item>
              </div>
        </ion-list>

        <ion-list *ngSwitchCase="'diet'">
            <div class="trip card" *ngFor="let programme of programmesDiet" tappable (click)="viewDetail(programme.id)" margin-bottom>
                <ion-item>
                  <div class="background border-bottom">
                    <div class="background-filter rlt">
                      <div class="align-bottom" padding-left padding-right>
                        <h6 class="pull-left text-white" ion-text>{{ programme.nom }}</h6>
                        <h6 class="pull-right text-white" ion-text>{{ programme.price | currency:'EUR':true }}</h6>
                        <div class="clear"></div>
                      </div>
                    </div>
                  </div>
                  <div class="padding-sm primary-bg">
                    <ion-icon name="time" class="text-white"></ion-icon>
                    <span ion-text class="text-white">{{ programme.duree }} jours</span>
                    <span class="pull-right" ion-text color="light"><span ion-text  class="text-green bold" *ngIf="programme.type == 1">Perte de poids</span></span>
                    <span class="pull-right" ion-text color="light"><span ion-text  class="text-green bold" *ngIf="programme.type == 2">Maintien de poids</span></span>
                    <span class="pull-right" ion-text color="light"><span ion-text  class="text-green bold" *ngIf="programme.type == 3">Prise de masse</span></span>
                  </div>
                </ion-item>
              </div>
        </ion-list>
      </div>


</ion-content>
