<!--
  Generated template for the CreateSceancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span ion-text>Create Programme</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <form novalidate (ngSubmit)="createProgramme(signupform)" [formGroup]="signupform">

      <ion-item>
        <ion-label floating>Titre :</ion-label>
        <ion-input type="text" formControlName="nom" [class.error1]="!signupform.controls.nom.valid && signupform.controls.nom.dirty"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Description :</ion-label>
        <ion-input type="text" formControlName="description" [class.error1]="!signupform.controls.nom.valid && signupform.controls.nom.dirty"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Durée :</ion-label>
        <ion-input type="text" formControlName="duree" [class.error1]="!signupform.controls.nom.valid && signupform.controls.nom.dirty"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Seances</ion-label>
        <ion-select formControlName="seances" multiple="true">
          <ion-option value="{{i}}" (ionSelect)="clickSeance(i)" *ngFor="let sea of seances;let i = index ">{{sea.nom}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Image</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Type</ion-label>
        <ion-select [(ngModel)]="type" formControlName="type">
          <ion-option value="1">Perte de poids</ion-option>
          <ion-option value="2">Maintien de poids</ion-option>
          <ion-option value="3">Prise de masse</ion-option>
        </ion-select>
      </ion-item>

      <button type="submit" ion-button block color="primary" [disabled]="signupform.invalid">Valider</button>
    </form>
  </ion-list>

</ion-content>
