<ion-header>
  <div padding text-center>
    <div class="logo"></div>
    <h2 ion-text class="text-primary">
      <ion-icon name="arrow-back" (click)="login()"></ion-icon>&nbsp;<strong>Shake Eat Up</strong>
    </h2>
    <h4>Inscription de Coach</h4>
  </div>
</ion-header>
<!-- -->
<ion-content padding>
  <ion-list>
    <!-- Login form -->

    <form novalidate (ngSubmit)="register(signupform)" [formGroup]="signupform" class="list-form">

      <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          Adresse mail
        </ion-label>
        <ion-input type="text" formControlName="email" [(ngModel)]="email" [class.error1]="!signupform.controls.email.valid && signupform.controls.email.dirty"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="( signupform.get('email').hasError('minlength') || signupform.get('email').hasError('pattern') ||signupform.get('email').hasError('required') ) && signupform.get('email').touched">
        <div class="error" *ngIf="signupform.get('email').hasError('required') && signupform.get('email').touched">
          Entrez votre adresse mail
        </div>
        <div class="error" *ngIf="signupform.get('email').hasError('pattern') && signupform.get('email').touched">
          Adresse mail invalide
        </div>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="person" item-start class="text-primary"></ion-icon>
          Nom
        </ion-label>
        <ion-input type="text" [(ngModel)]="nom" formControlName="nom" [class.error1]="!signupform.controls.nom.valid && signupform.controls.nom.dirty"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="( signupform.get('nom').hasError('minlength') || signupform.get('nom').hasError('maxlength') ||signupform.get('nom').hasError('pattern') ||signupform.get('nom').hasError('required') ) && signupform.get('nom').touched">
        <div class="error" *ngIf="signupform.get('nom').hasError('required') && signupform.get('nom').touched">
          Entrez votre nom
        </div>
        <div class="error" *ngIf="signupform.get('nom').hasError('minlength') && signupform.get('nom').touched">
          Minimum 4 characteres
        </div>
        <div class="error" *ngIf="signupform.get('nom').hasError('maxlength') && signupform.get('nom').touched">
          Maximum 30 characteres
        </div>
        <div class="error" *ngIf="signupform.get('nom').hasError('pattern') && signupform.get('nom').touched">
          Entrez des lettres seulement
        </div>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="person" item-start class="text-primary"></ion-icon>
          Prenom
        </ion-label>
        <ion-input type="text" [(ngModel)]="prenom" formControlName="prenom" [class.error1]="!signupform.controls.prenom.valid && signupform.controls.prenom.dirty"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="( signupform.get('prenom').hasError('minlength') || signupform.get('prenom').hasError('maxlength') ||signupform.get('prenom').hasError('pattern') ||signupform.get('prenom').hasError('required') ) && signupform.get('prenom').touched">
        <div class="error" *ngIf="signupform.get('prenom').hasError('required') && signupform.get('prenom').touched">
          Entrez votre prenom
        </div>
        <div class="error" *ngIf="signupform.get('prenom').hasError('minlength') && signupform.get('prenom').touched">
          Minimum 4 characteres
        </div>
        <div class="error" *ngIf="signupform.get('prenom').hasError('maxlength') && signupform.get('prenom').touched">
          Maximum 10 characteres
        </div>
        <div class="error" *ngIf="signupform.get('prenom').hasError('pattern') && signupform.get('prenom').touched">
          Entrez des lettres seulement
        </div>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          Mot de passe
        </ion-label>
        <ion-input type="password" [(ngModel)]="password" formControlName="password" [class.error1]="!signupform.controls.password.valid && signupform.controls.password.dirty"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="( signupform.get('password').hasError('minlength') || signupform.get('password').hasError('maxlength') ||signupform.get('password').hasError('required') ) && signupform.get('password').touched">
        <div class="error" *ngIf="signupform.get('password').hasError('required') && signupform.get('password').touched">
          Entrez votre mot de passe
        </div>
        <div class="error" *ngIf="signupform.get('password').hasError('minlength') && signupform.get('password').touched">
          Minimum 6 characteres
        </div>
        <div class="error" *ngIf="signupform.get('password').hasError('maxlength') && signupform.get('password').touched">
          Maximum 12 characteres
        </div>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="pulse" item-start class="text-primary"></ion-icon>
          Naissance
        </ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="naissance" formControlName="naissance" [class.error1]="!signupform.controls.naissance.valid && signupform.controls.naissance.dirty"></ion-datetime>
      </ion-item>

      <div margin-top>
        <button type="submit" ion-button block color="primary" [disabled]="signupform.invalid">
          Inscription de Coach
        </button>
      </div>
    </form>

    <!-- Other links -->
    <div text-center margin-top>
      <span ion-text color="primary" tappable (click)="login()">J'ai déjà un compte</span>
    </div>
  </ion-list>
</ion-content>
