<!--
  Generated template for the ModifSeanceTrainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span ion-text>Modification Sceance Train</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <form novalidate (ngSubmit)="createSeanceTrain(signupform)" [formGroup]="signupform">

      <ion-item>
        <ion-label floating>Titre :</ion-label>
        <ion-input type="text" formControlName="nom" [class.error1]="!signupform.controls.nom.valid && signupform.controls.nom.dirty"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="( signupform.get('nom').hasError('minlength') || signupform.get('nom').hasError('maxlength') ||signupform.get('nom').hasError('pattern') ||signupform.get('nom').hasError('required') ) && signupform.get('nom').touched">
        <div class="error" *ngIf="signupform.get('nom').hasError('required') && signupform.get('nom').touched">
          Please input your lastname
        </div>
        <div class="error" *ngIf="signupform.get('nom').hasError('minlength') && signupform.get('nom').touched">
          Minimum 4 characters
        </div>
        <div class="error" *ngIf="signupform.get('nom').hasError('maxlength') && signupform.get('nom').touched">
          Maximum 30 characters
        </div>
        <div class="error" *ngIf="signupform.get('nom').hasError('pattern') && signupform.get('nom').touched">
          Just use alphabet character
        </div>
      </ion-item>

      <ion-item>
        <ion-label>Exercice 1</ion-label>
        <ion-select [(ngModel)]="exoUn" formControlName="exoUn">
          <ion-option value="{{i}}" *ngFor="let exo of exos;let i = index ">{{exo.nom}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Exercice 2</ion-label>
        <ion-select [(ngModel)]="exoDeux" formControlName="exoDeux">
          <ion-option value="{{i}}" *ngFor="let exo of exos;let i = index ">{{exo.nom}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Exercice 3</ion-label>
        <ion-select [(ngModel)]="exoTrois" formControlName="exoTrois">
          <ion-option value="{{i}}" *ngFor="let exo of exos;let i = index ">{{exo.nom}}</ion-option>
        </ion-select>
      </ion-item>

      <button type="submit" ion-button block color="primary" [disabled]="signupform.invalid">Valider</button>
    </form>
  </ion-list>

</ion-content>
