<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <strong>Accueil</strong>
    </ion-title>
    <ion-buttons end>
      <button ion-button tappable (click)="presentNotifications($event)">
        <ion-icon name="notifications"></ion-icon>
      </button>
      <button ion-button tappable (click)="goToAccount()">
        <ion-icon name="cog"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!-- -->

<ion-content padding class="">
  <div class="login-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h2 ion-text class="text-primary">
        <strong>Shake Eat Up</strong>
      </h2>
      <h3 ion-text class="text-secondary">
        <strong>Entrainement et nutrition n'ont jamais été si aussi proche</strong>
      </h3>
    </div>

  </div>
  <ion-item padding class="trips">
    <div class="trip card" margin-bottom>
      <div class="background border-bottom" [ngStyle]="{'background-image': 'url('+'../assets/img/profil.jpeg'+')'}">
        <div class="background-filter rlt">
          <div class="align-bottom" padding-left padding-right>
            <h3 class="text-white">Voir mon profil</h3>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="trip card" margin-bottom>
      <div class="background border-bottom" [ngStyle]="{'background-image': 'url('+'../assets/img/programme.jpg'+')'}">
        <div class="background-filter rlt">
          <div class="align-bottom" padding-left padding-right>
            <h4 class="text-white">Voir nos programmes</h4>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </ion-item>
</ion-content>
