page-deroulement-repas {
    #cart-badge {
        width: 50px;
        height: 50px;
        margin: 7%;
        border-radius: 50%;
        font-size: 15px;
        line-height: 44px;

     }
     #cart-span {
        width: 50px;
        height: 50px;
        margin: 11%;
        font-size: 15px;
        font-weight: 700;
        line-height: 44px;
     }
     #bloc {
        white-space: pre-line;
        margin-top: 15px;
        margin-bottom: 15px;
     }
    
}
