<!--
  Generated template for the DeroulementTrainingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span ion-text>Séance en cours</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      {{repUn.nom}}
    </ion-card-header>
  
    <ion-card-content>
      <img src="http://www.ac-coaching.fr/wp-content/uploads/2011/06/Shaker-prot%C3%A9ine-291x300.jpg">
      <div id="bloc">{{repUn.ingredients}}</div>
      <div id="bloc">{{repUn.prepa}}</div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      {{repDeux.nom}}
    </ion-card-header>
  
    <ion-card-content>
      <img src="https://cdn.missfresh.com/recipe/972/972-14221-steak-avec-salade-melon-dea-1040x650-72dpi-7_928.jpg">
      <div id="bloc">{{repDeux.ingredients}}</div>
      <div id="bloc">{{repDeux.prepa}}</div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      {{repTrois.nom}}
    </ion-card-header>
  
    <ion-card-content>
      <img src="https://static.cuisineaz.com/400x320/i135997-bowl-cake-sans-oeuf.jpeg">
      <div id="bloc">{{repTrois.ingredients}}</div>
      <div id="bloc">{{repTrois.prepa}}</div>
    </ion-card-content>
  </ion-card>
  <button ion-button color="secondary" tappable (click)="validateSeance()">Terminer la séance</button>
</ion-content>
