<!--
  Generated template for the GraphPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span ion-text>Graphique d'évolution</span>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <!--<ion-card-header>-->
      <!--Votre courbe de suivi-->
    <!--</ion-card-header>-->
    <ion-card-content>
      <canvas id="myChart" width="400" height="400"></canvas>
      <!--<canvas #myLineChart></canvas>-->
    </ion-card-content>
  </ion-card>

  <br>
  <h5>Vos données :</h5>
  <ion-grid no-padding class="home-gallery">
    <ion-row>
      <ion-col>
        <div>
          Poids
        </div>
      </ion-col>
      <ion-col>
        <div>
          Date
        </div>
      </ion-col>
      <ion-col>
        <div>
          Commentaire
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngFor='let d of date; let i = index;'>
      <ion-col>
        <div>
          {{poids[i]}}
        </div>
      </ion-col>
      <ion-col>
        <div>
          {{d | date:'dd/MM/yyyy'}}
        </div>
      </ion-col>
      <ion-col>
        <div>
          {{commentaire[i]}}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
