<ion-menu side="left" id="authenticated" [content]="content">
  <ion-header>
    <ion-toolbar class="user-profile">

      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <div class="user-avatar" style="margin: 10px;">
              <img src="../assets/img/userprofil.png">
            </div>
          </ion-col>
          <ion-col padding-top col-8>
            <h2 ion-text class="no-margin bold text-white">
              {{name}}
            </h2>
            <span ion-text color="light">{{fonction}}</span>
          </ion-col>
        </ion-row>

        <ion-row no-padding class="other-data">
          <ion-col no-padding class="column">
            <button ion-button icon-left small full color="light" menuClose (click)="editProfil()">
              <ion-icon name="contact"></ion-icon>
              Edit Profil
            </button>
          </ion-col>
          <ion-col no-padding class="column">
            <button ion-button icon-left small full color="light" menuClose (click)="logout()">
              <ion-icon name="log-out"></ion-icon>
              Log Out
            </button>
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-toolbar>
  </ion-header>

  <ion-content color="primary">

    <ion-list class="user-list">
      <div *ngFor="let menuItem of appMenuItems">
        <button ion-item menuClose class="text-1x" *ngIf="role == menuItem.user || menuItem.user == 0" (click)="openPage(menuItem)">
          <ion-icon item-left [name]="menuItem.icon" color="primary"></ion-icon>
          <span ion-text color="primary">{{menuItem.title}}</span>
        </button>
      </div>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
