<!--
  Generated template for the CreateRepasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span ion-text>Mes Repas</span>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="trips detail-bg">
  <div>
    <span ion-button class="primary" (click)="createRepas()" style="float:right;">Créer un repas</span>
  </div>
  <br>
  <!--list of trips-->
  <div class="trip card" *ngFor="let rep of repas" tappable (click)="updateRepas(rep.id)" style="margin-top:10%;"
       margin-bottom>
    <!-- [ngStyle]="{'background-image': 'url(' + programme.image + ')'}" -->
    <div class="background border-bottom">
      <div class="background-filter rlt">
        <div class="align-bottom" padding-left padding-right>
          <h6 class="text-white" ion-text>{{rep.nom}}</h6>
        </div>
      </div>
    </div>
  </div>
</ion-content>
