<!--
  Generated template for the CreateRepasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span ion-text>Create Repas</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <form novalidate (ngSubmit)="createMeal(signupform)" [formGroup]="signupform">

      <ion-item>
        <ion-label floating>Nom :</ion-label>
        <ion-input type="text" formControlName="title" [class.error1]="!signupform.controls.title.valid && signupform.controls.title.dirty"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="( signupform.get('title').hasError('minlength') || signupform.get('title').hasError('maxlength') ||signupform.get('title').hasError('pattern') ||signupform.get('title').hasError('required') ) && signupform.get('title').touched">
        <div class="error" *ngIf="signupform.get('title').hasError('required') && signupform.get('title').touched">
          Please input your lastname
        </div>
        <div class="error" *ngIf="signupform.get('title').hasError('minlength') && signupform.get('title').touched">
          Minimum 4 characters
        </div>
        <div class="error" *ngIf="signupform.get('title').hasError('maxlength') && signupform.get('title').touched">
          Maximum 30 characters
        </div>
        <div class="error" *ngIf="signupform.get('title').hasError('pattern') && signupform.get('title').touched">
          Just use alphabet character
        </div>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="proteines" item-start class="text-primary"></ion-icon>
          Protéines
        </ion-label>
        <ion-input type="text" [(ngModel)]="proteines" formControlName="proteines"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lipides" item-start class="text-primary"></ion-icon>
          Lipides
        </ion-label>
        <ion-input type="text" [(ngModel)]="lipides" formControlName="lipides"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="glucides" item-start class="text-primary"></ion-icon>
          Glucides
        </ion-label>
        <ion-input type="text" [(ngModel)]="glucides" formControlName="glucides"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="ingredients" item-start class="text-primary"></ion-icon>
          Ingredients
        </ion-label>
        <ion-textarea type="text" [(ngModel)]="ingredients" formControlName="ingredients"></ion-textarea>
      </ion-item>

      <ion-item>
          <ion-label floating>
            <ion-icon name="prepa" item-start class="text-primary"></ion-icon>
            Préparation
          </ion-label>
          <ion-textarea type="text" [(ngModel)]="prepa" formControlName="prepa"></ion-textarea>
        </ion-item>

      <button type="submit" ion-button block color="primary" [disabled]="signupform.invalid">Valider</button>
    </form>
  </ion-list>

</ion-content>
