<!--
  Generated template for the DeroulementTrainingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span ion-text>Séance en cours</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      {{exoUn.nom}}
    </ion-card-header>
  
    <ion-card-content>
      <img src="https://st2.depositphotos.com/8546304/11422/i/950/depositphotos_114228058-stock-photo-close-grip-barbell-bench-press.jpg">
        <div><ion-badge id="cart-badge" text-center item-start>{{exoUn.serie}}</ion-badge>
        <ion-badge id="cart-badge">{{exoUn.rep}}</ion-badge>
        <ion-badge id="cart-badge" item-end>{{exoUn.tpsrecup}}</ion-badge></div>
        <div><span id="cart-span" ion-text>Sets</span><span id="cart-span" ion-text>Reps</span><span id="cart-span" ion-text>Sec</span></div>
    
      <div>{{exoUn.infos}}</div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      {{exoDeux.nom}}
    </ion-card-header>
  
    <ion-card-content>
        <img src="https://i.pinimg.com/originals/6e/f1/99/6ef199119cc96ec15dabd2db8d2fd474.png">
        <div><ion-badge id="cart-badge" text-center item-start>{{exoDeux.serie}}</ion-badge>
        <ion-badge id="cart-badge">{{exoDeux.rep}}</ion-badge>
        <ion-badge id="cart-badge" item-end>{{exoDeux.tpsrecup}}</ion-badge></div>
        <div><span id="cart-span" ion-text>Sets</span><span id="cart-span" ion-text>Reps</span><span id="cart-span" ion-text>Sec</span></div>
        <div>{{exoDeux.infos}}</div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      {{exoTrois.nom}}
    </ion-card-header>
  
    <ion-card-content>
        <img src="https://static1.squarespace.com/static/55e406fbe4b0b03c5e7543ae/t/58fd15f1e4fcb507312f1f2f/1492981244286/Standing+Alternate+Dumbbell+Cross+Body+Biceps+Curls">
        <div><ion-badge id="cart-badge" text-center item-start>{{exoTrois.serie}}</ion-badge>
          <ion-badge id="cart-badge">{{exoTrois.rep}}</ion-badge>
          <ion-badge id="cart-badge" item-end>{{exoTrois.tpsrecup}}</ion-badge></div>
          <div><span id="cart-span" ion-text>Sets</span><span id="cart-span" ion-text>Reps</span><span id="cart-span" ion-text>Sec</span></div>
          <div>{{exoTrois.infos}}</div>
    </ion-card-content>
  </ion-card>
  <button ion-button color="secondary" tappable (click)="validateSeance()">Terminer la séance</button>
</ion-content>
