page-deroulement-training {
    #cart-badge {
        width: 50px;
        height: 50px;
        margin: 6.5%;
        border-radius: 50%;
        font-size: 15px;
        line-height: 44px;

     }
     #cart-span {
        width: 50px;
        height: 50px;
        margin: 10.3%;
        font-size: 15px;
        font-weight: 700;
        line-height: 44px;
     }
}
