<!--
  Generated template for the CreateSceancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span ion-text  *ngIf="role == 10">Modifier Seance</span>
      <span ion-text  *ngIf="role == 1">Visualisation de la séance</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list *ngIf="role == 10">
    <form novalidate (ngSubmit)="updateSeance(signupform)" [formGroup]="signupform">

      <ion-item>
        <ion-label floating>Titre :</ion-label>
        <ion-input type="text" [(ngModel)]="nom" formControlName="nom" [class.error1]="!signupform.controls.nom.valid && signupform.controls.nom.dirty"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="( signupform.get('nom').hasError('minlength') || signupform.get('nom').hasError('maxlength') ||signupform.get('nom').hasError('pattern') ||signupform.get('nom').hasError('required') ) && signupform.get('nom').touched">
        <div class="error" *ngIf="signupform.get('nom').hasError('required') && signupform.get('nom').touched">
          Please input your lastname
        </div>
        <div class="error" *ngIf="signupform.get('nom').hasError('minlength') && signupform.get('nom').touched">
          Minimum 4 characters
        </div>
        <div class="error" *ngIf="signupform.get('nom').hasError('maxlength') && signupform.get('nom').touched">
          Maximum 30 characters
        </div>
        <div class="error" *ngIf="signupform.get('nom').hasError('pattern') && signupform.get('nom').touched">
          Just use alphabet character
        </div>
      </ion-item>

      <ion-item>
        <ion-label>Repas du matin</ion-label>
        <ion-select [(ngModel)]="repasMa" formControlName="repasMa">
          <ion-option [selected]="rep.isFlag == true" (ionSelect)="add" value="{{i}}" *ngFor="let rep of repas;let i = index ">{{rep.nom}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Repas du midi</ion-label>
        <ion-select [(ngModel)]="repasMi" formControlName="repasMi">
          <ion-option value="{{i}}" *ngFor="let rep of repas;let i = index ">{{rep.nom}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Repas du soir</ion-label>
        <ion-select [(ngModel)]="repasDi" formControlName="repasDi">
          <ion-option value="{{i}}" *ngFor="let rep of repas;let i = index ">{{rep.nom}}</ion-option>
        </ion-select>
      </ion-item>

      <button type="submit" ion-button block color="primary" [disabled]="signupform.invalid">Valider</button>
    </form>
  </ion-list>

  <ion-list  *ngIf="role == 1">
    <ion-item>
      <ion-label>Repas du matin</ion-label>
      <ion-label>{{repasMatin}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Repas du midi</ion-label>
      <ion-label>{{repasMidi}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Repas du soir</ion-label>
      <ion-label>{{repasDiner}}</ion-label>
    </ion-item>
  </ion-list>
  <button *ngIf="role == 1" ion-button color="secondary" tappable (click)="launchSeance()">Commencer la séance</button>

</ion-content>
